body {
  font-family: "Century Gothic", "Futura", sans-serif;
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  display: block;
}
nav a {
  display: inline-block;
  padding: 10px;
  color: white;
  text-decoration: none;
  user-select: none;
}
nav a:hover {
  background-color: blue;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th {
  background-color: blue;
  color: white;
}
table tr {
  text-align: center;
}
table tr:nth-child(odd){
  background-color: lightgray;
}

.controls-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

.controls-container input[type="text"],
.controls-container select {
  font-family: inherit;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 0px;
  outline: none;
}

.controls-container input[type="text"] {
  flex-grow: 1;
  min-width: 200px;
}

.controls-container input[type="text"]:focus,
.controls-container select:focus {
  border-color: blue;
}